*
{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100vh;
    overflow: hidden;
    
} 

h1 > a
{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: calc(40px + 0.9vw);
    position: static;
}

h2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 50%;

    font-family: 'DM Mono', monospace;
    font-size: calc(18px + 0.5vw);

    padding-left: calc(10px + 2vw);
    padding-right: 2vw;

}

nav
{
    font-family: 'DM Mono', monospace;
    gap: calc(5px + 1.5vw);
    padding-right:3vw;
}

nav > a:hover
{
    text-decoration: underline;
}

a
{
    font-size: calc(14px + 0.2vw);
    padding: 3vw;
    text-decoration: none;
    color: black;
}

a:hover
{
    color: black;
}

img
{
    width: 50%;
    height: 100%;
    object-fit: cover;
    padding-top:2vw;
    padding-left:2vw;

    /* border: 2px blue solid; */
}

p
{
    font-size: calc(12px + 0.8vw);
    font-family: 'DM Mono', monospace;
}



.container
{
    display:flex;
    flex-direction: column;
    width:100vw;
    height:100vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.header 
{
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 2vw;
}

.sitename
{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: static;
    text-decoration: none;
}

.topnav_mobile
{
    display:none;
}

.main_mobile
{
    display: none;
}

.sitename_mobile
{
    display: none;
}

.intro_text_mobile
{
    display: none;
}

.main
{
    /* border: 2px red solid; */
    height: 80%;
    display: flex;
    padding:1vw;
}


.footer
{
    height: 10%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'DM Mono', monospace;
    font-size: calc(12px + 0.2vw);
}

.nowrap
{
    white-space: nowrap;
}



#media-logo
{
    height:20px;
    width:20px;
}

/* @media (max-width:799px) 
{
    .container
    {
        display: flex;
        flex-direction:column;
        justify-content: start;

        height:100%;

    }

    p 
    {
        font-size: calc(12px + 0.5vw);
        padding-right:18px;
    }

    #sitename
    {
        display: none;
    }

    #site_title_mobile
    {
        text-align:center;
        font-size: calc(18px + 0.8vh);
    }

    img
    {
        display: none;
        flex-direction:column;
        justify-content:start;

        padding-top:1.5vw;
        padding-right:1vw;
        width:100%;
        height:70%;
    };

    .sitename_mobile
    {
        display: none;
        flex-direction: column;
        justify-content: center;
    }

    .topnav_mobile
    {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    nav
    {
        padding-top:3vh;
        margin-top:3vh;
    }

    .main
    {
        display: none;
    }

    .intro_text_computer
    {
        display:none;
    }

    .topnav
    {
        display:none;
    }

    .footer
    {
        display: none;
    }

    .nav_text
    {
        text-align: center;
        border: 1px black solid;
        padding:2vw;

    }

    .main_mobile
    {
        display: flex;
        flex-direction: column;
        justify-content: start;
    
        height:100%;
    }
} */

@media (max-width:800px) 
{
    .container
    {
        display: flex;
        flex-direction:column;
        min-height: 100vh;
    }

    .header 
    {
        display: flex;
        justify-content: center;
    }

    h1 > a 
    {
        font-size: calc(20px + 2vw);
    }

    .main
    {
        display: flex;
        flex-direction:column;
        flex: 1;
        padding:10px;
        padding-bottom: 20%;

        height:80%;
        width:100%;
    }

    img
    {
        width:100%;
    }

    .intro_text_computer
    {
        display:none;
    }

    .intro_text_mobile
    {
        display: flex;
        justify-content: center;
        width:100%
    }


    .sitename
    {
        display: flex;
        flex-direction: column;
        justify-content:center;

    }

    .topnav
    {
        background-color: #ffffff;
        color: #272727;
        padding: 20px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .resume
    {
        display: flex;
        flex-direction: column;
        padding-right:10px;
    }

    .footer
    {
        display: none;
    }


}