*
{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100vh;
    min-height: 100%;
    overflow: hidden;
    
} 

h1 > a
{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: calc(40px + 0.9vw);
}

h2
{
    font-family: 'DM Mono', monospace;
    font-size: calc(14px + 1vw);
}

h3
{

    font-family: 'DM Mono', monospace;
    font-size: calc(10px + 1vw);
}

nav
{
    font-family: 'DM Mono', monospace;
    gap: calc(5px + 6vw);

    display: flex;
}

nav > a:hover
{
    text-decoration: underline;
    color:rgb(90, 0, 174);
}

a
{
    font-size: calc(14px + 0.2vw);
    text-decoration: none;
    color: black;
}

a:hover
{
    color: black;
}

img
{
    width: 95%;
    height: 100%;
    object-fit: cover;
    /* padding-left: 1vw; */
    /* border: 2px blue solid; */
}

p
{
    font-size: calc(12px + 0.8vw);
    font-family: 'DM Mono', monospace;
}

.container
{
    display:flex;
    flex-direction: column;
    width:100vw;
    height:100vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.header 
{
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 3vw;
    padding-bottom:3vw;
}

.sitename
{
    padding-left:2vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.topnav
{
    width: 50%;
    padding-left:10%;
    /* border: blue 1px dotted; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.artist-intro
{
    /* border: 2px green solid; */
    width: 95%;
    padding-left: 3vw;
    display: flex;
}

.developer-intro
{
    /* border: 2px red solid; */
    width: 95%;
    padding-left: 3vw;
    display: flex;
}

.main
{
    /* border: 2px red solid; */
    height: 80%;
    display: flex;
    padding:1vw;
}

#website-text
{
    /* border: rgb(90, 0, 174, 30%) 2px dotted; */
    border-radius: 1%;
    width: 45%;
    margin-right:4vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer
{
    height: 10%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'DM Mono', monospace;
    font-size: calc(12px + 0.2vw);
}

.bottom-nav
{
    width: 50%;
    padding-right:5vw;
    /* border: blue 1px dotted; */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nowrap
{
    white-space: nowrap;
}

.spacer
{
    border: 2px;
    min-height:15px;
    min-width: 300px;
}


 /* for mobile  */

.topnav_mobile
{
    display:none;
}

.main_mobile
{
    display: none;
}

.sitename_mobile
{
    display: none;
}

.intro_text_mobile
{
    display: none;
}



#media-logo
{
    height:20px;
    width:20px;
}


@media (max-width:800px) 
{
    .container
    {
        display: flex;
        flex-direction:column;
        min-height: 100vh;
    }

    .header 
    {
        display: flex;
        justify-content: center;
    }

    h1 > a 
    {
        font-size: calc(20px + 2vw);
        font-family: 'Rubik', sans-serif;
    }


    h2
    {
        font-size: calc(14px + 0.5vw);
        white-space: nowrap;
    }
    .main
    {
        display: flex;
        flex-direction:column;
        justify-content: center;
        flex: 1;
        padding:10px;
        padding-bottom: 20%;

        height:60%;
        width:100%;
    }

    img
    {
        width:100%;
        padding-right:2vw;
    }

    .intro_text_computer
    {
        display:none;
    }

    .intro_text_mobile
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%
    }


    .sitename
    {
        display: flex;
        flex-direction: column;
        justify-content:center;

    }

    .topnav
    {
        background-color: #ffffff;
        color: #272727;
        padding: 20px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .resume
    {
        display: flex;
        flex-direction: column;
        padding-right:10px;
    }

    .footer
    {
        display: none;
    }


}